<ion-header  [translucent]="true" collapse="condense" >
  <ion-toolbar>
    <ion-back-button
      icon="arrow-back"
      slot="start"
      defaultHref="/"
      text=""
    ></ion-back-button>
    <ion-title>ChangePassword</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <form [formGroup]="changePassword" (ngSubmit)="changePasswordData()">
<p>
  <ion-input type="password" class="form-control" placeholder="Enter Old Password" formControlName="oldPassword"  ></ion-input>
</p>
<p *ngIf="Fail" style="color: red;" > old password does not mtch </p>
<div *ngIf="e['oldPassword'].touched && e['oldPassword'].invalid" style="color: red;">
  <div *ngIf="e['oldPassword'].errors && e['oldPassword'].errors['required']">oldPassword is required </div>
</div>
<p>
  <ion-input type="password" class="form-control" placeholder="Enter New Password" formControlName="newPassword"  ></ion-input>
</p>
<p *ngIf="Warn"  style="color: red;"  >please check your new password & confirm password</p>
<div *ngIf="e['newPassword'].touched && e['newPassword'].invalid" style="color: red;">
  <div *ngIf="e['newPassword'].errors && e['newPassword'].errors['required']">newPassword is required </div>
</div>
<p>
  <ion-input type="password" class="form-control" placeholder="Confirm New Password" formControlName="confirmPassword"  ></ion-input>
</p>
<div *ngIf="e['confirmPassword'].touched && e['confirmPassword'].invalid" style="color: red;">
  <div *ngIf="e['confirmPassword'].errors && e['confirmPassword'].errors['required']">confirmPassword is required </div>
</div>
<p>
  <ion-button type="submit" [disabled]="!changePassword.valid" >Change Password</ion-button>
</p>
</form>
</ion-content>