<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button icon="arrow-back" defaultHref="/"></ion-back-button>
    </ion-buttons> -->
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container ion-margin">
    <form [formGroup]="loginForm" (ngSubmit)="loginData()">
      <p>
        <ion-input
          type="email"
          placeholder="Enter Email"
          formControlName="email"
        ></ion-input>
      </p>
      <div *ngIf="e['email'].touched && e['email'].invalid" style="color: red;">
        <div *ngIf="e['email'].errors && e['email'].errors['required']">Email is required </div>
     </div>
      <p>
        <ion-input
          type="password"
          placeholder="Enter Password"
          formControlName="password"
        ></ion-input>
      </p>
      <div *ngIf="e['password'].touched && e['password'].invalid" style="color: red;">
        <div *ngIf="e['password'].errors && e['password'].errors['required']">Password is required </div>
     </div>
      <p>
        <ion-button type="submit" [disabled]="!loginForm.valid"
          >Login</ion-button
        >
      </p>
    </form>
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div>
        <ion-checkbox
          labelPlacement="end"
          id="myCheck"
          [(ngModel)]="rememberMe"
          (change)="remember()"
          >Remember me</ion-checkbox
        >
      </div>
      <!-- {{rememberMe}} -->
      <span routerLink="/emailforgotpasseord"> Forgot Password </span>
    </div>

    <p>
      <a style="text-decoration: none" routerLink="/register">SignUp</a>
    </p>
  </div>
</ion-content>
