<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="arrow-back"
        defaultHref="/"
        text=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="background-color: #1b1b1c;">
  <ul>
    
    <li  class="text">
      <ion-icon name="person-circle" class="icon"></ion-icon>
      <span >Account Center</span>
    </li>
  </ul>
  

  <ul>
    <p style="color: grey; font-size: smaller;" >How you use instagram</p>
    <li  class="text">
      <ion-icon name="notifications" class="icon"></ion-icon>
     <span> Notification </span>
    </li>
    <li  class="text">
      <ion-icon name="time" class="icon"></ion-icon>
     <span> Time Spent </span>
    </li>
  </ul>

  <ul>
    <p style="color: grey; font-size: smaller;" >What you see</p>
    <li  class="text">
      <ion-icon name="heart" class="icon"></ion-icon>
     <span> Favorites </span>
    </li>
    <li  class="text">
      <ion-icon name="volume-mute" class="icon"></ion-icon>

    <span>  Muted accounts </span>
    </li>
    <li  class="text">
      <ion-icon name="bulb" class="icon"></ion-icon>

    <span>  Suggested content </span>
    </li>
    <li  class="text">
      <ion-icon name="thumbs-up" class="icon"></ion-icon>

    <span>  Like and share counts </span>
    </li>
  </ul>

  <ul >
    <p style="color: grey; font-size: smaller;" >Who can see your content</p>
    <li  class="text">
      <ion-icon name="lock-closed" class="icon"></ion-icon>
     <span> Account privacy </span>
    </li>
    <li  class="text" >
      <ion-icon name="star" class="icon"></ion-icon>
     <span> Close Friends </span>
    </li>
    <li class="text" >
      <ion-icon name="ban" class="icon" ></ion-icon>
     <span> Blocked </span>
    </li>
    <li  class="text">
      <ion-icon name="eye-off" class="icon" ></ion-icon>
     <span> Hide story and live </span>
    </li>
  </ul>
  

  <ul>
    <p style="color: grey; font-size: smaller;" >How others can interact with you</p>
    <li  class="text">
      <ion-icon name="mail" class="icon" ></ion-icon>
     <span> Messages and story replies </span>
    </li>
    <li  class="text">
      <ion-icon name="pricetag" class="icon" ></ion-icon>
     <span> Tags and mentions </span>
    </li>
    <li  class="text">
      <ion-icon name="chatbox" class="icon" ></ion-icon>
     <span> Comments </span>
    </li>
    <li  class="text">
      <ion-icon name="share" class="icon" ></ion-icon>
     <span> Sharing and remixes </span>
    </li>
    <li  class="text">
      <ion-icon name="person" class="icon" ></ion-icon>
     <span> Avatar interactions </span>
    </li>
    <li  class="text">
      <ion-icon name="hand-left" class="icon" ></ion-icon>
     <span> Restricted </span>
    </li>
    <li  class="text">
      <ion-icon name="finger-print" class="icon" ></ion-icon>
     <span> Limited interactions </span>
    </li>
    <li  class="text">
      <ion-icon name="eye-off" class="icon" ></ion-icon>
     <span> Hidden Words </span>
    </li>
    <li  class="text">
      <ion-icon name="people" class="icon" ></ion-icon>
     <span> Follow and invite friends </span>
    </li>
  </ul>
  
  <ul>
    <p style="color: grey; font-size: smaller;" >Your app and media</p>
    <li  class="text">
      <ion-icon name="download" class="icon" ></ion-icon>
     <span> Archiving and downloading </span>
    </li>
    <li  class="text">
      <ion-icon name="accessibility" class="icon" ></ion-icon>
     <span> Accessibility </span>
    </li>
    <li  class="text">
      <ion-icon name="chatbox" class="icon" ></ion-icon>
     <span> Comments </span>
    </li>
    <li  class="text">
      <ion-icon name="language" class="icon" ></ion-icon>
     <span> Language </span>
    </li>
    <li  class="text">
      <ion-icon name="server" class="icon" ></ion-icon>
     <span> Data usage and media quality </span>
    </li>
    <li  class="text">
      <ion-icon name="globe" class="icon" ></ion-icon>
     <span> Website permissions </span>
    </li>
  </ul>


  <ul>
    <p style="color: grey; font-size: smaller;" >For families</p>
    <li  class="text">
      <ion-icon name="eye" class="icon"></ion-icon>
     <span> Supervision </span>
    </li>
  </ul>
  
  <ul>
    <p style="color: grey; font-size: smaller;" >For professionals</p>
    <li  class="text">
      <ion-icon name="cog" class="icon"></ion-icon>
     <span> Account type and tools </span>
    </li>
  </ul>
  
  <ul>
    <p style="color: grey; font-size: smaller;" >Your orders and fundraisers</p>
    <li  class="text">
      <ion-icon name="cart" class="icon"></ion-icon>
     <span> Orders and payments </span>
    </li>
  </ul>
  
  <ul>
    <p style="color: grey; font-size: smaller;" >More info and support</p>
    <li  class="text">
      <ion-icon name="help" class="icon"></ion-icon>
     <span> Help </span>
    </li>
    <li  class="text">
      <ion-icon name="business" class="icon"></ion-icon>
     <span> Account Status </span>
    </li>
    <li  class="text">
      <ion-icon name="information-circle" class="icon"></ion-icon>
     <span> About </span> 
    </li>
  </ul>
  
</ion-content>
